html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background: url(../image/box.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
}

.box {
    /* آخرین پارامتر شفافیت را تنظیم میکند */
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    padding: 20px;
    border-radius:10px;
    display: flex;
    justify-content: space-around;
}

.notify {
    background-color: #f8c957;
    padding: 20px;
    position: fixed;
    bottom: 50px;
    left: 70px;
}

.saved {
    border: 2px dotted grey;
}

.box > div > div {
    margin-bottom: 25px;
}

.saved > div {
    margin-bottom: 10px;
}