html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-color: yellow;
    height: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
}

.box {
    background-color:white;
    width: 40%;
    padding: 20px;
    border-radius:10px;
}